.main-post {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;

  p {
    color: #575757;
    font-size: 13px;
  }
}

.header-post {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    border-radius: 50px;
    margin-right: 15px;
  }
}
